  body{
    background:url(https://s1.ax1x.com/2020/10/13/0h2kn0.jpg) no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
   }
   
   #kjbt{
    text-shadow: 5px 5px 5px #000000;
   }
